$desktop: "only screen and (min-width: 1024px)";


#header {
	background-color: rgb(27, 118, 185);
}

#header .about-search {
	padding: 1em;
	text-align: center;
	@media #{$desktop} {
		padding: 1em;
		margin: 0 12.5% 0 0;
		display: inline-block;
		float: right;
	}
}
#header .logo1 {
	display: none;
	@media #{$desktop} {
		display: inline-block;
		padding: 1em;
		font-family: 'Asap';
		font-weight: 100;
		margin: 0 0 0 12.5%
	}
}
#header .about-search a{
	text-decoration: none;
	font-size: 1em;
	font-family: 'Oswald';
	padding: 0.5em;
	color: rgb(7, 53, 81);
}
#header .logo2 {
	text-align: center;
	padding: 1.5em;
	color: rgb(7, 53, 81);
	@media #{$desktop} {
		display: none;	
	}
}
#header .title {
	text-align: center;
	font-size: 2.25em;
	padding: 0.25em 0.25em 0.25em 0.25em;
	font-family: 'Asap';
	color: white;
	@media #{$desktop} {
	font-size: 6.5em;
	padding: 1.5em 0.25em 0em 0.25em;
	}
}
#header .tagline {
	text-align: center;
	padding: 0.1em 0em 1.65em 0em;
	font-family: arial;
	color: rgb(7, 53, 81);
	@media #{$desktop} {
	padding: 0.1em 0em 12.25em 0em;
	}
}






#content {
	@media #{$desktop} {
		margin: 0 12.5% 0 12.5%;
	}
}
#content .article-title {
	font-size: 4em;
	font-family: "Arial Narrow", Arial, sans-serif;
	padding: 0.75em 0em 0em 0.5em;
	line-height: 1.35em;
	color: rgb(7, 53, 81);
	weight: 600;
}
#content .date {
	color: rgb(187, 199, 207);
	text-decoration: underline;
	font-family: sans-serif;
	padding: 0.15em 0em 1em 2em;
	font-size: 1.25em;
}
#content .text1 {
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 1.15em;
	padding: 1em 1.25em 1em 1.25em;
	color: #aaa;
}
#content .text1 a {
	color: #bbb;
}
#content .quote {
	border-left: 3px solid rgb(213, 213, 213);
	font-size: 1.5em;
	line-height: 1.35em;
	margin-left: 1em;
	margin-top: 0.75em;
	color: rgb(50, 127, 207);
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-family: "Arial Narrow", Arial, sans-serif;
}
#content .text2 {
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 1.15em;
	padding: 1.75em 1.25em 0.85em 1.25em;
	color: #aaa;
}
#content .text2 a {
	color: rgb(93, 148, 198);
}



#content .share .forward{
	margin-left: 1em;
	font-size: 1.5em;
	padding: 0.5em 0.6em 0.35em 0.6em;
	background-color: rgb(8, 53, 81);
	display: inline-block;
	color: white;
}
#content .share .message {
	margin-left: 0.5em;
	background-color: rgb(95, 104, 112);
	display: inline-block;
	font-size: 1.5em;
	padding: 0.5em 0.6em 0.35em 0.6em;
	color: white;
}
#content .share .cloud {
	margin-left: 0.5em;
	font-size: 1.5em;
	text-align: center;
	padding: 0.25em;
	background-color: rgb(95, 104, 112);
	padding: 0.5em 0.6em 0.35em 0.6em;
	display: inline-block;
	color: white;
}



#content .footer .dolphin-pic {
	background-color: rgb(27, 118, 185);
	background-image: url(pictures/dolphin.jpeg);
	height: 125px;
	width: 125px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-top: 8em;
}
#content .footer .author {
	text-align: center;
	color: rgb(50, 127, 207);
	font-size: 1.5em;
	font-family: "Arial Narrow", Arial, sans-serif;
}
#content .footer .connect {
	text-align: center;
	padding-bottom: 6em;
}
#content .footer .connect a{
	padding: 0.5em;
	text-decoration: none;
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 1.25em;
	color: #aaa;
}






#content #left {
	@media #{$desktop} {
		float: left;
		display: inline-block;
		padding: 0;
		width: 75%;
	}
}
#content #right {
	@media #{$desktop} {
		float: right;
		display: inline-block;
		padding: 0;
		width: 25%;
	}
}






#content .ad {
	border-bottom: 2px solid rgb(213, 213, 213);
	padding-bottom: 5em;
}
#content .ad-pic {
	padding: 6.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em;
	background-color: rgb(99, 158, 205);
}
#content .ad a {
	text-align: right;
	font-size: 1.25em;
	color: #aaa;
	font-family: sans-serif;
}
#content .side-bar {
	display: none;
	@media #{$desktop} {
		display: inline-block;
	}
}





#other-posts {
	font-size: 2.35em;
	font-family: "Arial Narrow", Arial, sans-serif;
}
#other-posts .title {
	text-align: center;
	color: rgb(7, 53, 81);
	padding-top: 2.5em;
	padding-bottom: 0.6em;
	@media #{$desktop} {
		float: left;
		width: 100%
	}
}
#other-posts .post0 {
	display: none;
	text-align: left;
	color: white;
	padding: 6.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em;
	background-color: rgb(99, 158, 205);
	@media #{$desktop} {
		display: inline-block;
		margin: 0;
	}
}
#other-posts .post1 {
	text-align: left;
	color: white;
	padding: 6.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em;
	background-color: rgb(99, 158, 205);
	@media #{$desktop} {
		display: inline-block;
		margin: 0;
	}
}
#other-posts .post2 {
	text-align: left;
	color: white;
	padding: 3.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em;
	background-color: rgb(99, 158, 205);
	@media #{$desktop} {
		display: inline-block;
		margin: 0;
	}
}
#other-posts .post3 {
	text-align: left;
	color: white;
	padding: 5.75em 3em 0.5em 0.65em;
	width: 200px;
	margin: 0.5em 0.5em 3em 0.5em;
	background-color: rgb(99, 158, 205);
	@media #{$desktop} {
		display: inline-block;
		margin: 0;
	}
}






#footer {
	background-color: rgb(8, 53, 81);
	width: max;
	text-align: center;
	font-family: sans-serif;
	padding-top: 4em;
	padding-bottom: 3.5em;
}
#footer a {
	text-decoration: none;
	color: rgb(142, 160, 174);
	font-size: 1.25em;
	margin: 0em 0.5em 0em 0.5em;
	line-height: 1.5em;
	text-align: center;
}
#footer .nav1 {
	border-right: 2px solid rgb(68, 86, 101);
}
#footer .nav2 {
	border-right: 2px solid rgb(68, 86, 101);
}
#footer div{
	color: rgb(142, 160, 174);
	font-size: 1.25em;
	line-height: 1.5em;
}
#footer .logo{
	padding: 2em 0em 2em 0em;
	color: rgb(142, 160, 174);
	font-size: 1.5em;
	line-height: 1.5em;
}

